<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormTest.Properties.Settings.ffServManConnectionString"
            connectionString="Server=192.168.140.28;Database=ffServMan10;Port=16000;Native=True;Embedded=False;Username=;Password=;Timeout=10000;BlockReadSize=0;NativeTransportType=TCP/IPV4;SecureTransportKey="
            providerName="NexusDB.ADOProvider" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISmServ" />
                <binding name="BasicHttpBinding_ISmServ1" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_ISmServ2" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54730/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="Service1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost/SmanAPI/SmServ.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISmServ2" contract="SmServLive.ISmServ"
                name="BasicHttpBinding_ISmServ1" />
            <endpoint address="http://localhost:49962/SmServ.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISmServ1" contract="SmServ.ISmServ"
                name="BasicHttpBinding_ISmServ" />
        </client>
      <behaviors>
        <serviceBehaviors>
          <behavior name="debug">
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>