<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISmServ" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_ISmServ1" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49962/SmServ.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISmServ" contract="SmServ.ISmServ"
        name="BasicHttpBinding_ISmServ" />
      <endpoint address="http://localhost/SmanAPI/SmServ.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISmServ1" contract="SmServLive.ISmServ"
        name="BasicHttpBinding_ISmServ1" />
    </client>
  </system.serviceModel>
</configuration>